<!-- Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header"{% if page.layout == "home" %} class="alt"{% endif %}>
        <h1><a href="{{ site.url }}{{ site.baseurl }}">{{ site.title-bold }}</a> {{ site.title-normal }}</h1>
        <nav id="nav">
            <ul>
                {% for page in site.pages %}
                {% if page.layout == "home" %}
                <li><a href="{{ page.url | prepend: site.baseurl | remove: "index.html" }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
                {% for page in site.pages %}
                {% if page.layout != "home" %}
                <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
                <li><a href="https://forums.pmmp.gq">Forums</a></li>
                <li>
                    <a href="#" class="icon fa-angle-down">Resources</a>
                    <ul>
                        <li><a href="https://pmmp.readthedocs.io/en/rtfd/">Documentation</a></li>
                        <li><a href="https://jenkins.pmmp.gq">Jenkins</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
